## Which jobs grew in pay after adjusting for inflation?

In [1]:
import sqlite3
import os
import pandas as pd
import matplotlib.pyplot as plt

### I cleaned the data in the other file and this contains only the clean dataset.

In [2]:
occupation_file_name = os.path.join('new_occupation.csv')

In [3]:
occupation = pd.read_csv(occupation_file_name, index_col=0)

In [25]:
occupation["OCC_TITLE"] = occupation["OCC_TITLE"].str.lower()
occupation.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,...,A_PCT90,YEAR,Unnamed: 19,H_CHANGE,A_CHANGE,FOUR_YEAR,THREE_YEAR,TWO_YEAR,ONE_YEAR,GAP_YEAR
1797,00-0000,all occupations,NaN,542460.0,0.9,30.240960,62904.896,2.03456,13.243136,17.164288,...,108497.536,2003,NaN,NaN,NaN,True,False,False,False,False
1798,11-0000,management occupations,major,28090.0,2.3,66.252672,137813.696,1.47968,28.650304,39.285504,...,242427.072,2003,NaN,NaN,NaN,True,False,False,False,False
1799,11-1011,chief executives,NaN,2070.0,4.8,120.612416,250879.744,4.06912,52.880064,74.205952,...,NaN,2003,NaN,NaN,NaN,True,False,False,False,False
1800,11-1021,general and operations managers,NaN,8730.0,2.7,66.419136,138165.120,2.58944,28.354368,39.063552,...,246181.760,2003,NaN,NaN,NaN,True,False,False,False,False
1801,11-1031,legislators,NaN,90.0,28.3,28.927744,60185.984,17.75616,11.227072,13.243136,...,85414.528,2003,NaN,NaN,NaN,False,True,False,False,False

In economics the term real dollars is the value of currency after being adjusted for inflation. I will turn everything into 2018 dollars and to compute the difference I used an inflation calculator which can be found in the following website 
https://www.usinflationcalculator.com/

Adjusted for inflation, 1.00 in 2003 is equal to 1.36 in 2018, with a 36.5% cumulative rate of inflation.

Adjusted for inflation, 1.00 in 2008 is equal to 1.17 in 2018, with a 16.6% cumulative rate of inflation.

Adjusted for inflation, 1.00 in 2013 is equal to 1.08 in 2018, with a 7.8% cumulative rate of inflation.

The following sections will need to be adjusted based on their year. 
H_PCT10, H_PCT25, H_MEDIAN, H_CT75, H_PCT90, A_PCT10, A_PCT25, A_MEDIAN, A_PCT75, A_PCT90

## Converting to 2018 dollars

In [5]:
#This formula converts each year to 2018 dollars, which contorls for inflation. 
occupation.columns[5:18]

for x in occupation.columns[5:18]:
    occupation.loc[(occupation.YEAR == 2013), x] *=1.08
    occupation.loc[(occupation.YEAR == 2008), x] *=1.17
    occupation.loc[(occupation.YEAR == 2003), x] *=1.36

## Checking to see how many occupations existed across all four sample years\

In [6]:
#This counts the number of instances of a specific job code. As you can see there are 389 jobs that where in all four 
#instances, 128 in three, 139 in two, and 80 in 1. 

occ_count=occupation.groupby('OCC_CODE')
occ_count_all = occ_count.size()
occ_count_all.value_counts()

4    389
2    139
3    128
1     80
dtype: int64

In [7]:
#made dictionaries that can be used to show years
total_instance=occupation.groupby(['OCC_CODE'])
total_instance=total_instance.size()
dict4={}
dict3={}
dict2={}
dict1={}
for y, x in total_instance.items():
    if x == 4:
        dict4.update({y:x})
    elif x == 3:
        dict3.update({y:x})
    elif x == 2:
        dict2.update({y:x})
    else:
        dict1.update({y:x})

In [8]:
#I am going to create a dictionary that will allow me to organize the years.
check=(occupation.groupby(['OCC_CODE','YEAR'])).size()

#dictuionary containing each year and the years that fall in it. 
occ_yeardict={}
for y,x in check.items():
    (a,b)=y
    if a in occ_yeardict:
        t=occ_yeardict[a]
        t = t + (b,)
        occ_yeardict.update({a:t})
    else:
        occ_yeardict.update({a:(b,)})

#dictuionary containing each gaps and the length. 
dictgap={}
for x, y in occ_yeardict.items():
    z=pd.np.diff(y)
    if (len(z)>0) and ((10 in z)or(15 in z)):
        if z[0]>5:
            dictgap.update({x:(y[0:2],z[0])})
        elif z[1]>5:
            dictgap.update({x:(y[1:],z[1])})

In [9]:
#Determine the number of occupations with gaps
len(dictgap)

43

In [10]:
#sort values for percent change
occupation.sort_values(['YEAR', 'OCC_CODE'], ascending=[1, 1], inplace=True)

In [11]:
#create percent change for mean items
occupation['H_CHANGE'] = occupation.groupby('OCC_CODE').H_MEAN.pct_change()
occupation['A_CHANGE'] = occupation.groupby('OCC_CODE').A_MEAN.pct_change()

In [12]:
#I am using this to create new rows and then I am collecting the location for further manipulation
occupation = occupation.assign(**{'FOUR_YEAR':"False",'THREE_YEAR': "False",'TWO_YEAR': "False",'ONE_YEAR':"False",'GAP_YEAR':"False"})
y4_loc=occupation.columns.get_loc('FOUR_YEAR')
y3_loc=occupation.columns.get_loc('THREE_YEAR')
y2_loc=occupation.columns.get_loc('TWO_YEAR')
y1_loc=occupation.columns.get_loc('ONE_YEAR')
ygap_loc=occupation.columns.get_loc('GAP_YEAR')

In [13]:
# I am using this to populate the rows. 
locnumber=0
for index, row in occupation.iterrows():
    occupation.iloc[locnumber:,y4_loc] = (row['OCC_CODE'] in dict4)
    occupation.iloc[locnumber:,y3_loc] = (row['OCC_CODE'] in dict3)
    occupation.iloc[locnumber:,y2_loc] = (row['OCC_CODE'] in dict2)
    occupation.iloc[locnumber:,y1_loc] = (row['OCC_CODE'] in dict1)
    occupation.iloc[locnumber:,ygap_loc] = (row['OCC_CODE'] in dictgap)
    locnumber +=1

In [14]:
#Here is data that is just Occupation data that has each based on the different ways I sepereated them.  
occupation_4 = occupation[occupation['FOUR_YEAR'] == True]
occupation_3 = occupation[(occupation['THREE_YEAR'] == True) & (occupation['GAP_YEAR'] == False)]
occupation_2 = occupation[(occupation['TWO_YEAR'] == True) & (occupation['GAP_YEAR'] == False)]
occupation_1 = occupation[(occupation['ONE_YEAR'] == True) & (occupation['GAP_YEAR'] == False)]
occupation_gap = occupation[(occupation['GAP_YEAR'] == True) & (occupation['GAP_YEAR'] == False)]

occupation_1

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,...,A_PCT90,YEAR,Unnamed: 19,H_CHANGE,A_CHANGE,FOUR_YEAR,THREE_YEAR,TWO_YEAR,ONE_YEAR,GAP_YEAR
1808,11-3040,human resources managers,NaN,860.0,5.7,59.631104,124034.176,3.88416,31.924096,40.062336,...,195595.200,2003,NaN,NaN,NaN,False,False,False,True,False
1926,25-4010,"archivists, curators, and museum technicians",NaN,60.0,24.6,33.385280,69433.984,17.75616,17.571200,21.214912,...,93497.280,2003,NaN,NaN,NaN,False,False,False,True,False
1944,27-3010,announcers,NaN,290.0,13.0,27.577536,57374.592,46.05504,10.727680,12.059392,...,186069.760,2003,NaN,NaN,NaN,False,False,False,True,False
1945,27-3020,"news analysts, reporters and correspondents",NaN,210.0,7.7,35.678784,74205.952,27.55904,15.240704,19.180352,...,130859.200,2003,NaN,NaN,NaN,False,False,False,True,False
1958,29-1020,dentists,NaN,330.0,31.6,105.038784,218493.248,16.27648,50.753024,69.896384,...,NaN,2003,NaN,NaN,NaN,False,False,False,True,False
1995,29-9010,occupational health and safety specialists and...,NaN,130.0,20.4,43.835520,91166.784,7.95328,23.952320,31.646656,...,134576.896,2003,NaN,NaN,NaN,False,False,False,True,False
2040,37-3013,tree trimmers and pruners,NaN,NaN,NaN,26.819200,55765.440,13.87200,22.306176,25.542976,...,64384.576,2003,NaN,NaN,NaN,False,False,False,True,False
2144,47-2130,insulation workers,NaN,120.0,18.7,35.382848,73595.584,18.12608,19.661248,23.711872,...,114693.696,2003,NaN,NaN,NaN,False,False,False,True,False
2196,49-9064,watch repairers,NaN,NaN,NaN,30.536896,63496.768,24.04480,16.849856,19.901696,...,112733.120,2003,NaN,NaN,NaN,False,False,False,True,False
2199,49-9095,manufactured building and mobile home installers,NaN,NaN,NaN,26.301312,54711.168,7.21344,18.237056,20.364096,...,71672.000,2003,NaN,NaN,NaN,False,False,False,True,False
2238,51-6091,"extruding and forming machine setters, operato...",NaN,NaN,NaN,22.657600,47146.304,7.58336,16.054528,21.325888,...,55709.952,2003,NaN,NaN,NaN,False,False,False,True,False
1204,11-3041,compensation and benefits managers,NaN,120.0,12.9,47.596653,98998.848,4.92804,28.733211,36.303228,...,152317.503,2008,NaN,NaN,NaN,False,False,False,True,False
1205,11-3042,training and development managers,NaN,140.0,9.4,48.801285,101517.624,4.79115,29.636685,36.467496,...,149620.770,2008,NaN,NaN,NaN,False,False,False,True,False
1206,11-3049,"human resources managers, all other",NaN,510.0,7.9,59.875686,124556.211,5.20182,36.344295,43.572087,...,192042.981,2008,NaN,NaN,NaN,False,False,False,True,False
1233,13-1061,emergency management specialists,NaN,40.0,24.8,23.435568,48732.840,6.70761,16.919604,18.794997,...,69019.938,2008,NaN,NaN,NaN,False,False,False,True,False
1237,13-1079,"human resources, training, and labor relations...",NaN,1040.0,11.6,37.644750,78314.769,6.84450,20.916792,27.090531,...,110264.895,2008,NaN,NaN,NaN,False,False,False,True,False
1264,15-1099,"computer specialists, all other",NaN,520.0,5.0,46.871136,97493.058,6.84450,24.585444,37.097190,...,145212.912,2008,NaN,NaN,NaN,False,False,False,True,False
1298,19-1013,soil and plant scientists,NaN,40.0,45.0,33.962409,70648.929,6.70761,22.559472,24.202152,...,107294.382,2008,NaN,NaN,NaN,False,False,False,True,False
1304,19-3011,economists,NaN,40.0,22.3,45.242145,94098.186,6.57072,26.501904,30.704427,...,152194.302,2008,NaN,NaN,NaN,False,False,False,True,False
1312,19-4092,forensic science technicians,NaN,40.0,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,2008,NaN,NaN,NaN,False,False,False,True,False
1363,25-2042,"special education teachers, middle school",NaN,540.0,8.3,NaN,69718.077,3.42225,NaN,NaN,...,93906.540,2008,NaN,NaN,NaN,False,False,False,True,False
1364,25-2043,"special education teachers, secondary school",NaN,660.0,6.4,NaN,70087.680,3.83292,NaN,NaN,...,93714.894,2008,NaN,NaN,NaN,False,False,False,True,False
1455,31-2012,occupational therapist aides,NaN,NaN,NaN,14.441895,30033.666,4.79115,11.019645,12.155832,...,39232.674,2008,NaN,NaN,NaN,False,False,False,True,False
1504,37-2019,"building cleaning workers, all other",NaN,50.0,24.8,14.400828,29965.221,12.73077,10.034037,11.553516,...,41012.244,2008,NaN,NaN,NaN,False,False,False,True,False
1507,37-3019,"grounds maintenance workers, all other",NaN,NaN,NaN,16.810092,34975.395,12.86766,11.964186,13.647933,...,44010.135,2008,NaN,NaN,NaN,False,False,False,True,False
1517,39-3099,"entertainment attendants and related workers, ...",NaN,240.0,9.7,12.717081,26433.459,3.83292,9.212697,10.581597,...,36152.649,2008,NaN,NaN,NaN,False,False,False,True,False
1523,39-6021,tour guides and escorts,NaN,90.0,35.9,13.579488,28254.096,6.29694,10.075104,11.498760,...,39355.875,2008,NaN,NaN,NaN,False,False,False,True,False
1614,47-2043,floor sanders and finishers,NaN,NaN,NaN,21.327462,44366.049,4.51737,15.605460,17.959968,...,60984.495,2008,NaN,NaN,NaN,False,False,False,True,False
1665,49-3091,bicycle repairers,NaN,NaN,NaN,21.806577,45351.657,14.37345,13.757445,19.137222,...,56124.900,2008,NaN,NaN,NaN,False,False,False,True,False
1692,51-3023,slaughterers and meat packers,NaN,140.0,30.1,16.070886,33428.538,3.96981,12.032631,13.976469,...,43024.527,2008,NaN,NaN,NaN,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,51-2031,engine and other machine assemblers,detailed,NaN,NaN,17.845920,37126.512,9.33120,12.445488,14.300064,...,53176.176,2013,NaN,NaN,NaN,False,False,False,True,False
1126,51-6041,shoe and leather workers and repairers,detailed,NaN,NaN,12.550464,26104.032,3.03264,11.069136,11.652336,...,30932.928,2013,NaN,NaN,NaN,False,False,False,True,False
1157,51-9151,photographic process workers and processing ma...,detailed,140.0,27.6,15.979680,33254.064,5.94864,10.404288,12.013920,...,49583.664,2013,NaN,NaN,NaN,False,False,False,True,False
1178,53-5031,ship engineers,detailed,NaN,NaN,31.189536,64886.832,8.63136,20.750256,23.304672,...,87118.416,2013,NaN,NaN,NaN,False,False,False,True,False
34,13-1020,buyers and purchasing agents,detailed,1730.0,14.8,28.100000,58440.000,1.40000,17.230000,20.660000,...,87490.000,2018,NaN,NaN,NaN,False,False,False,True,False
81,17-2011,aerospace engineers,detailed,50.0,49.3,52.660000,109540.000,1.90000,40.410000,46.040000,...,133950.000,2018,NaN,NaN,NaN,False,False,False,True,False
82,17-2021,agricultural engineers,detailed,40.0,33.6,28.340000,58940.000,5.10000,18.380000,24.090000,...,89130.000,2018,NaN,NaN,NaN,False,False,False,True,False
116,19-3022,survey researchers,detailed,30.0,43.3,28.130000,58510.000,6.50000,20.290000,23.690000,...,78250.000,2018,NaN,NaN,NaN,False,False,False,True,False
121,19-4011,agricultural and food science technicians,detailed,70.0,33.4,24.520000,51000.000,6.00000,15.830000,18.850000,...,77670.000,2018,NaN,NaN,NaN,False,False,False,True,False
131,21-1018,"substance abuse, behavioral disorder, and ment...",detailed,1190.0,15.1,21.700000,45130.000,2.90000,14.440000,17.070000,...,64220.000,2018,NaN,NaN,NaN,False,False,False,True,False
144,23-1012,judicial law clerks,detailed,40.0,4.4,15.750000,32760.000,6.20000,12.320000,13.180000,...,44710.000,2018,NaN,NaN,NaN,False,False,False,True,False
145,23-1022,"arbitrators, mediators, and conciliators",detailed,NaN,NaN,24.850000,51680.000,3.50000,20.000000,21.590000,...,62010.000,2018,NaN,NaN,NaN,False,False,False,True,False
173,25-3097,"teachers and instructors, all other, except su...",detailed,1530.0,7.5,NaN,52130.000,4.40000,NaN,NaN,...,84090.000,2018,NaN,NaN,NaN,False,False,False,True,False
192,27-1029,"designers, all other",detailed,40.0,9.8,27.300000,56780.000,14.90000,14.600000,17.500000,...,88330.000,2018,NaN,NaN,NaN,False,False,False,True,False
237,29-1181,audiologists,detailed,80.0,46.8,31.580000,65700.000,3.60000,25.590000,27.230000,...,81740.000,2018,NaN,NaN,NaN,False,False,False,True,False
238,29-1199,"health diagnosing and treating practitioners, ...",detailed,60.0,23.5,30.980000,64430.000,7.00000,21.850000,24.960000,...,110260.000,2018,NaN,NaN,NaN,False,False,False,True,False
239,29-2010,clinical laboratory technologists and technicians,detailed,1180.0,11.2,24.690000,51360.000,3.80000,15.430000,18.450000,...,75280.000,2018,NaN,NaN,NaN,False,False,False,True,False
265,31-1015,orderlies,detailed,240.0,30.1,11.530000,23990.000,3.60000,8.780000,9.740000,...,31480.000,2018,NaN,NaN,NaN,False,False,False,True,False
324,39-3092,costume attendants,detailed,NaN,NaN,26.670000,55480.000,12.50000,11.100000,16.100000,...,104320.000,2018,NaN,NaN,NaN,False,False,False,True,False
331,39-7010,tour and travel guides,detailed,140.0,41.1,12.350000,25680.000,6.70000,8.530000,9.710000,...,38150.000,2018,NaN,NaN,NaN,False,False,False,True,False
415,45-4022,logging equipment operators,detailed,NaN,NaN,16.930000,35220.000,3.40000,13.020000,14.760000,...,46180.000,2018,NaN,NaN,NaN,False,False,False,True,False
416,45-4023,log graders and scalers,detailed,30.0,33.1,11.610000,24140.000,4.60000,9.910000,10.470000,...,29240.000,2018,NaN,NaN,NaN,False,False,False,True,False
443,47-3014,"helpers--painters, paperhangers, plasterers, a...",detailed,NaN,NaN,8.930000,18580.000,8.00000,7.780000,8.170000,...,23420.000,2018,NaN,NaN,NaN,False,False,False,True,False
467,49-3043,rail car repairers,detailed,120.0,14.7,18.920000,39360.000,3.10000,15.480000,16.660000,...,48580.000,2018,NaN,NaN,NaN,False,False,False,True,False
472,49-9011,mechanical door repairers,detailed,NaN,NaN,22.440000,46680.000,6.40000,15.460000,17.630000,...,65420.000,2018,NaN,NaN,NaN,False,False,False,True,False
491,51-2028,"electrical, electronic, and electromechanical ...",detailed,NaN,NaN,16.460000,34250.000,3.20000,10.860000,12.990000,...,49110.000,2018,NaN,NaN,NaN,False,False,False,True,False
493,51-2098,"assemblers and fabricators, all other, includi...",detailed,20840.0,3.5,17.990000,37410.000,7.10000,11.180000,13.540000,...,55500.000,2018,NaN,NaN,NaN,False,False,False,True,False
553,51-9197,tire builders,detailed,NaN,NaN,20.170000,41950.000,10.00000,13.790000,16.420000,...,59570.000,2018,NaN,NaN,NaN,False,False,False,True,False
558,53-1048,first-line supervisors of transportation and m...,detailed,3020.0,4.4,24.680000,51340.000,2.50000,15.710000,17.940000,...,77580.000,2018,NaN,NaN,NaN,False,False,False,True,False
573,53-7041,hoist and winch operators,detailed,NaN,NaN,16.040000,33360.000,4.40000,13.090000,13.690000,...,38160.000,2018,NaN,NaN,NaN,False,False,False,True,False

In [29]:
occupation["OCC_TITLE"] = occupation["OCC_TITLE"].str.lower()
#occupation.loc[occupation.OCC_TITLE.isupper(), 'OCC_TITLE"] = occupation.OCC_TITLE.str.lower()
occupation[occupation["OCC_TITLE"].str.contains("econ")]

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,...,A_PCT90,YEAR,Unnamed: 19,H_CHANGE,A_CHANGE,FOUR_YEAR,THREE_YEAR,TWO_YEAR,ONE_YEAR,GAP_YEAR
1814,11-9032,"education administrators, elementary and secon...",NaN,560.0,4.0,NaN,144990.144,10.54272,NaN,NaN,...,183258.368,2003,NaN,NaN,NaN,True,False,False,False,False
1908,25-1011,"business teachers, postsecondary",NaN,180.0,4.4,NaN,124274.624,27.55904,NaN,NaN,...,213665.792,2003,NaN,NaN,NaN,True,False,False,False,False
1909,25-1021,"computer science teachers, postsecondary",NaN,80.0,3.9,NaN,124607.552,25.15456,NaN,NaN,...,199053.952,2003,NaN,NaN,NaN,False,True,False,False,False
1910,25-1022,"mathematical science teachers, postsecondary",NaN,90.0,14.9,NaN,97381.440,18.49600,NaN,NaN,...,157326.976,2003,NaN,NaN,NaN,True,False,False,False,False
1911,25-1052,"chemistry teachers, postsecondary",NaN,50.0,19.1,NaN,114360.768,16.83136,NaN,NaN,...,179707.136,2003,NaN,NaN,NaN,False,True,False,False,False
1912,25-1054,"physics teachers, postsecondary",NaN,30.0,41.4,NaN,127455.936,9.98784,NaN,NaN,...,186883.584,2003,NaN,NaN,NaN,False,False,True,False,True
1913,25-1066,"psychology teachers, postsecondary",NaN,70.0,13.9,NaN,116580.288,13.50208,NaN,NaN,...,173085.568,2003,NaN,NaN,NaN,False,True,False,False,False
1914,25-1072,"nursing instructors and teachers, postsecondary",NaN,160.0,29.9,NaN,92424.512,9.98784,NaN,NaN,...,134225.472,2003,NaN,NaN,NaN,True,False,False,False,False
1915,25-1121,"art, drama, and music teachers, postsecondary",NaN,190.0,21.9,NaN,82270.208,17.01632,NaN,NaN,...,131876.480,2003,NaN,NaN,NaN,True,False,False,False,False
1916,25-1122,"communications teachers, postsecondary",NaN,60.0,26.0,NaN,92369.024,9.98784,NaN,NaN,...,150686.912,2003,NaN,NaN,NaN,False,True,False,False,False
1917,25-1123,"english language and literature teachers, post...",NaN,150.0,15.2,NaN,81456.384,5.73376,NaN,NaN,...,117209.152,2003,NaN,NaN,NaN,True,False,False,False,False
1918,25-1126,"philosophy and religion teachers, postsecondary",NaN,70.0,38.7,NaN,100229.824,5.91872,NaN,NaN,...,160471.296,2003,NaN,NaN,NaN,False,True,False,False,False
1919,25-1194,"vocational education teachers, postsecondary",NaN,470.0,13.6,38.083264,79218.368,4.99392,22.787072,30.499904,...,107073.344,2003,NaN,NaN,NaN,True,False,False,False,False
1923,25-2031,"secondary school teachers, except special and ...",NaN,2470.0,10.4,NaN,89261.696,9.80288,NaN,NaN,...,110384.128,2003,NaN,NaN,NaN,True,False,False,False,False
1212,11-9032,"education administrators, elementary and secon...",NaN,960.0,3.1,NaN,118683.630,6.02316,NaN,NaN,...,156903.318,2008,NaN,NaN,-0.181437,True,False,False,False,False
1213,11-9033,"education administrators, postsecondary",NaN,260.0,8.9,64.228788,133604.640,16.56369,28.568943,37.412037,...,NaN,2008,NaN,NaN,NaN,False,True,False,False,False
1304,19-3011,economists,NaN,40.0,22.3,45.242145,94098.186,6.57072,26.501904,30.704427,...,152194.302,2008,NaN,NaN,NaN,False,False,False,True,False
1337,25-1011,"business teachers, postsecondary",NaN,170.0,9.8,NaN,119176.434,8.89785,NaN,NaN,...,193671.972,2008,NaN,NaN,-0.041024,True,False,False,False,False
1338,25-1021,"computer science teachers, postsecondary",NaN,90.0,20.6,NaN,101011.131,12.59388,NaN,NaN,...,178121.268,2008,NaN,NaN,-0.189366,False,True,False,False,False
1339,25-1022,"mathematical science teachers, postsecondary",NaN,100.0,11.6,NaN,NaN,NaN,NaN,NaN,...,NaN,2008,NaN,NaN,0.000000,True,False,False,False,False
1340,25-1042,"biological science teachers, postsecondary",NaN,90.0,13.9,NaN,92660.841,9.99297,NaN,NaN,...,144856.998,2008,NaN,NaN,NaN,False,False,True,False,False
1341,25-1052,"chemistry teachers, postsecondary",NaN,40.0,20.4,NaN,102051.495,8.21340,NaN,NaN,...,168361.011,2008,NaN,NaN,-0.107635,False,True,False,False,False
1342,25-1063,"economics teachers, postsecondary",NaN,30.0,28.8,NaN,120298.932,8.07651,NaN,NaN,...,198654.768,2008,NaN,NaN,NaN,False,False,True,False,False
1343,25-1066,"psychology teachers, postsecondary",NaN,80.0,9.6,NaN,93673.827,8.62407,NaN,NaN,...,135753.813,2008,NaN,NaN,-0.196487,False,True,False,False,False
1344,25-1071,"health specialties teachers, postsecondary",NaN,NaN,NaN,NaN,150332.598,20.25972,NaN,NaN,...,NaN,2008,NaN,NaN,NaN,False,False,True,False,False
1345,25-1072,"nursing instructors and teachers, postsecondary",NaN,160.0,15.4,NaN,75960.261,3.01158,NaN,NaN,...,104419.692,2008,NaN,NaN,-0.178137,True,False,False,False,False
1346,25-1081,"education teachers, postsecondary",NaN,NaN,NaN,NaN,74906.208,8.89785,NaN,NaN,...,112674.159,2008,NaN,NaN,NaN,False,True,False,False,False
1347,25-1111,"criminal justice and law enforcement teachers,...",NaN,110.0,36.7,NaN,NaN,NaN,NaN,NaN,...,NaN,2008,NaN,NaN,NaN,False,False,True,False,False
1348,25-1121,"art, drama, and music teachers, postsecondary",NaN,NaN,NaN,NaN,87294.753,6.98139,NaN,NaN,...,142050.753,2008,NaN,NaN,0.061074,True,False,False,False,False
1349,25-1122,"communications teachers, postsecondary",NaN,70.0,19.5,NaN,80463.942,7.25517,NaN,NaN,...,119162.745,2008,NaN,NaN,-0.128886,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,25-1081,"education teachers, postsecondary",detailed,300.0,18.2,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,False,True,False,False,False
745,25-1111,"criminal justice and law enforcement teachers,...",detailed,50.0,21.4,NaN,61387.632,6.53184,NaN,NaN,...,95049.936,2013,NaN,NaN,NaN,False,False,True,False,False
746,25-1113,"social work teachers, postsecondary",detailed,70.0,17.1,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,NaN,False,False,False,True,False
747,25-1121,"art, drama, and music teachers, postsecondary",detailed,330.0,9.8,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,True,False,False,False,False
748,25-1122,"communications teachers, postsecondary",detailed,130.0,7.6,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,False,True,False,False,False
749,25-1123,"english language and literature teachers, post...",detailed,280.0,11.2,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,True,False,False,False,False
750,25-1124,"foreign language and literature teachers, post...",detailed,100.0,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,False,False,True,False,False
751,25-1125,"history teachers, postsecondary",detailed,80.0,15.7,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,False,False,True,False,False
752,25-1126,"philosophy and religion teachers, postsecondary",detailed,100.0,15.0,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,0.000000,False,True,False,False,False
753,25-1193,"recreation and fitness studies teachers, posts...",detailed,60.0,15.8,NaN,NaN,NaN,NaN,NaN,...,NaN,2013,NaN,NaN,NaN,False,False,False,True,False
754,25-1194,"vocational education teachers, postsecondary",detailed,320.0,17.5,26.943840,56033.856,10.73088,14.603328,16.877808,...,83525.904,2013,NaN,-0.118547,-0.118762,True,False,False,False,False
755,25-1199,"postsecondary teachers, all other",detailed,270.0,11.9,NaN,96694.560,6.53184,NaN,NaN,...,165710.448,2013,NaN,NaN,0.505150,False,True,False,False,False
760,25-2031,"secondary school teachers, except special and ...",detailed,3730.0,4.1,NaN,65295.072,3.14928,NaN,NaN,...,88074.864,2013,NaN,NaN,-0.052088,True,False,False,False,False
763,25-2054,"special education teachers, secondary school",detailed,620.0,4.8,NaN,64688.544,3.96576,NaN,NaN,...,86581.872,2013,NaN,NaN,NaN,False,False,True,False,False
765,25-3011,adult basic and secondary education and litera...,detailed,160.0,18.4,27.387072,56955.312,5.24880,18.207504,20.295360,...,83094.336,2013,NaN,-0.031156,-0.031278,False,True,False,False,False
19,11-9032,"education administrators, elementary and secon...",detailed,1110.0,2.4,NaN,99770.000,5.30000,NaN,NaN,...,134380.000,2018,NaN,NaN,-0.068431,True,False,False,False,False
20,11-9033,"education administrators, postsecondary",detailed,380.0,12.0,42.160000,87690.000,5.50000,20.800000,27.010000,...,142640.000,2018,NaN,-0.231439,-0.231445,False,True,False,False,False
152,25-1011,"business teachers, postsecondary",detailed,160.0,44.8,NaN,NaN,NaN,NaN,NaN,...,NaN,2018,NaN,NaN,0.000000,True,False,False,False,False
153,25-1022,"mathematical science teachers, postsecondary",detailed,70.0,47.7,NaN,NaN,NaN,NaN,NaN,...,NaN,2018,NaN,NaN,0.000000,True,False,False,False,False
154,25-1067,"sociology teachers, postsecondary",detailed,90.0,10.5,NaN,NaN,NaN,NaN,NaN,...,NaN,2018,NaN,NaN,NaN,False,False,True,False,False
155,25-1072,"nursing instructors and teachers, postsecondary",detailed,250.0,4.6,NaN,72460.000,3.00000,NaN,NaN,...,101790.000,2018,NaN,NaN,-0.038942,True,False,False,False,False
156,25-1081,"education teachers, postsecondary",detailed,NaN,NaN,NaN,75570.000,5.10000,NaN,NaN,...,113690.000,2018,NaN,NaN,0.008862,False,True,False,False,False
157,25-1121,"art, drama, and music teachers, postsecondary",detailed,NaN,NaN,NaN,103560.000,10.20000,NaN,NaN,...,201880.000,2018,NaN,NaN,0.186326,True,False,False,False,False
158,25-1123,"english language and literature teachers, post...",detailed,80.0,48.1,NaN,NaN,NaN,NaN,NaN,...,NaN,2018,NaN,NaN,0.000000,True,False,False,False,False
159,25-1194,"vocational education teachers, postsecondary",detailed,220.0,24.6,21.890000,45530.000,7.20000,14.630000,16.890000,...,61860.000,2018,NaN,-0.187569,-0.187456,True,False,False,False,False
160,25-1199,"postsecondary teachers, all other",detailed,460.0,15.9,NaN,NaN,NaN,NaN,NaN,...,NaN,2018,NaN,NaN,0.000000,False,True,False,False,False
165,25-2031,"secondary school teachers, except special and ...",detailed,3440.0,4.6,NaN,61490.000,3.70000,NaN,NaN,...,82040.000,2018,NaN,NaN,-0.058275,True,False,False,False,False
166,25-2032,"career/technical education teachers, secondary...",detailed,NaN,NaN,NaN,59260.000,3.80000,NaN,NaN,...,82270.000,2018,NaN,NaN,-0.246471,False,False,True,False,True
169,25-2054,"special education teachers, secondary school",detailed,490.0,5.1,NaN,59810.000,3.00000,NaN,NaN,...,80690.000,2018,NaN,NaN,-0.075416,False,False,True,False,False
171,25-3011,adult basic and secondary education and litera...,detailed,90.0,33.2,16.960000,35280.000,5.20000,9.060000,12.520000,...,50590.000,2018,NaN,-0.380730,-0.380567,False,True,False,False,False

In [17]:
#new_occupation['YEAR'] = pd.to_datetime(new_occupation['YEAR'], format = "%Y")

### SQL STUFF

In [18]:
occupation_4.to_sql("occ_table",sqlite3.connect('occ.db'), if_exists ="replace")

E:\Users\Andrew\Anaconda3\lib\site-packages\pandas\core\generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [19]:
con = sqlite3.connect("occ.db")

In [30]:
#This is sorting the data by the average hourly percent change. Where those with the highest percent change fairing better.   
pd.read_sql_query("SELECT OCC_CODE,OCC_TITLE,AVG(H_CHANGE) as H_average, AVG(A_CHANGE) as A_average FROM occ_table GROUP BY OCC_CODE ORDER BY H_average DESC LIMIT 10", con)

,OCC_CODE,OCC_TITLE,H_average,A_average
0,27-2012,producers and directors,0.134717,0.008545
1,11-9061,funeral directors,0.109731,0.109700
2,49-9098,"helpers--installation, maintenance, and repair...",0.080048,0.079867
3,19-4091,environmental science and protection technicia...,0.042304,0.042487
4,11-2011,advertising and promotions managers,0.040898,0.040891
5,11-3061,purchasing managers,0.039929,0.039937
6,29-1066,psychiatrists,0.036577,0.036582
7,39-9032,recreation workers,0.031287,0.031165
8,13-2082,tax preparers,0.029210,0.029084
9,27-4032,film and video editors,0.021536,0.021562

In [44]:
#offset it to avoid na data
pd.read_sql_query("SELECT OCC_CODE,OCC_TITLE,AVG(H_CHANGE) as H_average, AVG(A_CHANGE) as H_average FROM occ_table GROUP BY OCC_CODE ORDER BY H_average ASC LIMIT 10 OFFSET 12", con)

,OCC_CODE,OCC_TITLE,H_average,H_average
0,29-1011,chiropractors,-0.242064,-0.242086
1,13-1121,meeting and convention planners,-0.225118,-0.225118
2,13-2021,appraisers and assessors of real estate,-0.220821,-0.220818
3,51-3091,"food and tobacco roasting, baking, and drying ...",-0.190703,-0.190689
4,17-3025,environmental engineering technicians,-0.180274,-0.180318
5,51-4023,"rolling machine setters, operators, and tender...",-0.179433,-0.179492
6,53-7021,crane and tower operators,-0.168824,-0.168827
7,49-3022,automotive glass installers and repairers,-0.168186,-0.168263
8,25-1194,"vocational education teachers, postsecondary",-0.167822,-0.167853
9,51-4122,"welding, soldering, and brazing machine setter...",-0.161642,-0.161551

In [45]:
#This is sorting the data by the average annual percent change. Where those with the highest percent change fairing better.   
pd.read_sql_query("SELECT OCC_CODE,OCC_TITLE,AVG(H_CHANGE) as H_average, AVG(A_CHANGE) as A_average FROM occ_table GROUP BY OCC_CODE ORDER BY A_average DESC LIMIT 10", con)

,OCC_CODE,OCC_TITLE,H_average,A_average
0,11-9061,funeral directors,0.109731,0.109700
1,25-1121,"art, drama, and music teachers, postsecondary",NaN,0.082466
2,49-9098,"helpers--installation, maintenance, and repair...",0.080048,0.079867
3,53-2012,commercial pilots,NaN,0.049790
4,19-4091,environmental science and protection technicia...,0.042304,0.042487
5,11-2011,advertising and promotions managers,0.040898,0.040891
6,11-3061,purchasing managers,0.039929,0.039937
7,29-1066,psychiatrists,0.036577,0.036582
8,39-9032,recreation workers,0.031287,0.031165
9,13-2082,tax preparers,0.029210,0.029084

In [46]:
#This is sorting the data by the average annual percent change. Where those with the lowest percent change fairing better.   
pd.read_sql_query("SELECT OCC_CODE,OCC_TITLE,AVG(H_CHANGE) as H_average, AVG(A_CHANGE) as A_average FROM occ_table GROUP BY OCC_CODE ORDER BY A_average ASC LIMIT 10", con)

,OCC_CODE,OCC_TITLE,H_average,A_average
0,29-1011,chiropractors,-0.242064,-0.242086
1,13-1121,meeting and convention planners,-0.225118,-0.225118
2,13-2021,appraisers and assessors of real estate,-0.220821,-0.220818
3,29-9091,athletic trainers,NaN,-0.192253
4,51-3091,"food and tobacco roasting, baking, and drying ...",-0.190703,-0.190689
5,17-3025,environmental engineering technicians,-0.180274,-0.180318
6,51-4023,"rolling machine setters, operators, and tender...",-0.179433,-0.179492
7,53-7021,crane and tower operators,-0.168824,-0.168827
8,49-3022,automotive glass installers and repairers,-0.168186,-0.168263
9,25-1194,"vocational education teachers, postsecondary",-0.167822,-0.167853