## Which jobs grew in pay after adjusting for inflation.

In [1]:
import sqlite3
import os
import pandas as pd

In [2]:
occupation_file_name = os.path.join('Occupation_Data.csv')

In [3]:
occupation = pd.read_csv(occupation_file_name, index_col=None)

In [4]:
occupation.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,00-0000,All Occupations,total,652100.0,1.3,21.99,45740.0,1.5,9.18,11.90,17.47,26.74,38.71,19100.0,24760.0,36350.0,55610.0,80510.0,2018
1,11-0000,Management Occupations,major,31180.0,2.6,49.67,103320.0,1.5,19.90,28.60,42.37,61.46,87.13,41400.0,59490.0,88120.0,127850.0,181230.0,2018
2,11-1011,Chief Executives,detailed,1210.0,6.1,73.53,152940.0,2.8,28.36,41.72,61.92,95.40,NaN,58980.0,86770.0,128800.0,198420.0,NaN,2018
3,11-1021,General and Operations Managers,detailed,10360.0,4.4,48.99,101900.0,2.1,17.27,24.89,38.13,61.21,96.22,35920.0,51770.0,79310.0,127320.0,200130.0,2018
4,11-2011,Advertising and Promotions Managers,detailed,60.0,16.8,53.04,110320.0,10.4,18.64,26.74,44.61,78.86,98.10,38770.0,55630.0,92780.0,164030.0,204050.0,2018

In economics the term real dollars is the value of currency after being adjusted for inflation. I will turn everything into 2018 dollars and to compute the difference I used an inflation calculator which can be found in the following website 
https://www.usinflationcalculator.com/

Adjusted for inflation, 1.00 in 2003 is equal to 1.36 in 2018, with a 36.5% cumulative rate of inflation.

Adjusted for inflation, 1.00 in 2008 is equal to 1.17 in 2018, with a 16.6% cumulative rate of inflation.

Adjusted for inflation, 1.00 in 2013 is equal to 1.08 in 2018, with a 7.8% cumulative rate of inflation.

The following sections will need to be adjusted based on their year. 
H_PCT10, H_PCT25, H_MEDIAN, H_CT75, H_PCT90, A_PCT10, A_PCT25, A_MEDIAN, A_PCT75, A_PCT90

In [5]:
year2018 = occupation['YEAR'] == 2018
year2013 = occupation['YEAR'] == 2013
year2008 = occupation['YEAR'] == 2008
year2003 = occupation['YEAR'] == 2003

## Converting to 2018 dollars

In [6]:
occupation.columns[5:18]

for x in occupation.columns[5:18]:
    occupation.loc[(occupation.YEAR == 2013), x] *=1.08
    occupation.loc[(occupation.YEAR == 2008), x] *=1.17
    occupation.loc[(occupation.YEAR == 2003), x] *=1.36

## Checking to see how many occupations existed across all four sample years

In [7]:
occ_count=occupation.groupby('OCC_CODE')
occ_count_all = occ_count.size()
occ_count_all.value_counts()

4    384
2    139
3    128
1     80
5      5
dtype: int64

## Found an error in the data I need to find out where it is and remove it. (Skip to next section if you wish to skip this)
It is odd that there is a 5 in the options I need to figure out which year(s) have duplicate occupations.

In [8]:
dupe_year=occupation.groupby(['OCC_CODE', 'YEAR']).size() > 1
print(dupe_year.value_counts())
dupe_year_list=dupe_year[dupe_year == True]
dupe_year_list

False    2293
True        5
dtype: int64

OCC_CODE  YEAR
53-7061   2003    True
53-7062   2003    True
53-7063   2003    True
53-7064   2003    True
53-7081   2003    True
dtype: bool

2003 Seems to have produced all of the duplicates and here is the list of duplicate job codes 

I am going to have to remove the duplicate data from the dataset

In [9]:
dupes_year = occupation[occupation.duplicated(('OCC_CODE', 'YEAR'), keep=False)]

In [10]:
dupes_year.sort_values('OCC_CODE')

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
2292,53-7061,Cleaners of vehicles and equipment,NaN,1260.0,15.7,13.1784,27404.0,6.664,8.1192,9.3432,11.5736,15.3408,19.6656,16891.2,19434.4,24085.6,31905.6,40908.8,2003
2298,53-7061,Cleaners of vehicles and equipment,NaN,1320.0,12.4,13.9264,28954.4,10.336,8.0784,9.2344,11.5464,16.1160,24.1672,16796.0,19203.2,24017.6,33524.0,50252.0,2003
2293,53-7062,"Laborers and freight, stock, and material move...",NaN,12700.0,5.6,15.3000,31824.0,6.120,9.5608,11.2200,13.4912,16.4016,26.5336,19883.2,23337.6,28070.4,34122.4,55188.8,2003
2299,53-7062,"Laborers and freight, stock, and material move...",NaN,12600.0,9.3,15.6672,32572.0,5.304,9.5336,11.4512,14.0080,17.9520,26.1800,19842.4,23813.6,29131.2,37345.6,54454.4,2003
2294,53-7063,Machine feeders and offbearers,NaN,1650.0,29.6,17.0952,35550.4,5.848,11.0432,13.0016,14.9736,20.4136,24.3304,22956.8,27036.8,31130.4,42445.6,50605.6,2003
2300,53-7063,Machine feeders and offbearers,NaN,1410.0,29.9,17.0680,35509.6,6.936,10.7848,12.6888,14.8512,20.4272,24.2624,22426.4,26397.6,30885.6,42486.4,50456.0,2003
2295,53-7064,"Packers and packagers, hand",NaN,4970.0,11.3,11.9952,24956.0,2.312,8.2008,9.4248,11.3832,13.9264,17.5168,17054.4,19611.2,23691.2,28968.0,36420.8,2003
2301,53-7064,"Packers and packagers, hand",NaN,4650.0,9.0,12.1448,25255.2,3.128,8.2280,9.3432,11.3016,14.1984,18.2784,17095.2,19434.4,23514.4,29525.6,38025.6,2003
2296,53-7081,Refuse and recyclable material collectors,NaN,400.0,29.9,16.1976,33687.2,6.936,10.4992,12.8520,15.9120,18.8088,22.6032,21855.2,26724.0,33088.8,39127.2,47001.6,2003
2302,53-7081,Refuse and recyclable material collectors,NaN,420.0,29.0,15.7488,32748.8,8.024,10.7032,12.2672,14.5384,18.4824,22.1816,22249.6,25513.6,30232.8,38460.8,46131.2,2003

Much to my suprise the data is different. I suppose data gathering methods were not refined in 2003. To correct this I will merge the data and take the average. Once I get the averages I will add this to a new data base and remove all other duplicates.

In [11]:
combine = dupes_year.groupby(['OCC_CODE', 'OCC_TITLE', 'YEAR'], as_index=False).mean()
combine = combine.copy()

In [12]:
combine['OCC_GROUP']=pd.np.NaN

In [13]:
new_occupation= occupation.append(combine, ignore_index=True, sort=False)

In [14]:
new_occupation.drop_duplicates(('OCC_CODE', 'YEAR'), keep='last', inplace=True)

In [15]:
occ_count=new_occupation.groupby('OCC_CODE')
occ_count_all = occ_count.size()
occ_count_4=occ_count.size() == 4
occ_count_3=occ_count.size() == 3
occ_count_2=occ_count.size() == 2
occ_count_1=occ_count.size() == 1

In [16]:
print(occ_count_all.value_counts())

4    389
2    139
3    128
1     80
dtype: int64

The problem has been solved. I know this becasue the 5 group no longer exists and the 4 group increased in size by five (the same number as the old 5 group). 
There are 736 unique occupations on this list of those occupations 389 occupations existed all four observed years, 128 existed for three observed years, 139 exitsed for two observed years, and 80 existed for only one observed year.

In [59]:
test=new_occupation.groupby(['OCC_CODE'])
test2=test.size()
dict4={}
dict3={}
dict2={}
dict1={}
for y, x in test2.items():
    if x == 4:
        dict4.update({y:x})
    elif x == 3:
        dict3.update({y:x})
    elif x == 2:
        dict2.update({y:x})
    else:
        dict1.update({y:x})

In [60]:
dict1

{'11-3040': 1,
 '11-3041': 1,
 '11-3042': 1,
 '11-3049': 1,
 '11-9161': 1,
 '13-1020': 1,
 '13-1061': 1,
 '13-1079': 1,
 '15-1099': 1,
 '17-2011': 1,
 '17-2021': 1,
 '17-2031': 1,
 '19-1013': 1,
 '19-1022': 1,
 '19-3011': 1,
 '19-3022': 1,
 '19-4011': 1,
 '19-4092': 1,
 '21-1018': 1,
 '21-1019': 1,
 '23-1012': 1,
 '23-1021': 1,
 '23-1022': 1,
 '25-1065': 1,
 '25-1113': 1,
 '25-1193': 1,
 '25-2042': 1,
 '25-2043': 1,
 '25-3097': 1,
 '25-4010': 1,
 '27-1029': 1,
 '27-2041': 1,
 '27-3010': 1,
 '27-3020': 1,
 '29-1020': 1,
 '29-1151': 1,
 '29-1181': 1,
 '29-1199': 1,
 '29-2010': 1,
 '29-9010': 1,
 '31-1015': 1,
 '31-2012': 1,
 '33-3011': 1,
 '37-2019': 1,
 '37-3013': 1,
 '37-3019': 1,
 '39-3092': 1,
 '39-3099': 1,
 '39-6021': 1,
 '39-7010': 1,
 '39-7011': 1,
 '45-4022': 1,
 '45-4023': 1,
 '47-2042': 1,
 '47-2043': 1,
 '47-2130': 1,
 '47-3014': 1,
 '49-2095': 1,
 '49-3043': 1,
 '49-3091': 1,
 '49-9011': 1,
 '49-9064': 1,
 '49-9095': 1,
 '51-2023': 1,
 '51-2028': 1,
 '51-2031': 1,
 '51-2098': 1,
 '51-3023': 1,
 '51-6041': 1,
 '51-6091': 1,
 '51-9151': 1,
 '51-9197': 1,
 '53-1048': 1,
 '53-2011': 1,
 '53-4013': 1,
 '53-4021': 1,
 '53-4099': 1,
 '53-5031': 1,
 '53-7041': 1,
 '53-7072': 1}

In [17]:
#new_occupation['YEAR'] = pd.to_datetime(new_occupation['YEAR'], format = "%Y")

In [18]:
new_occupation.to_sql("occ_table",sqlite3.connect('occ.db'), if_exists ="replace")

In [19]:
con = sqlite3.connect("occ.db")

In [20]:
occupation2 = pd.read_sql_query("SELECT * FROM occ_table WHERE YEAR=2003 AND OCC_CODE IN ('53-7061', '53-7062', '53-7063', '53-7064', '53-7081') ORDER BY OCC_CODE ASC", con)
occupation2

,index,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,2303,53-7061,Cleaners of vehicles and equipment,None,1290.0,14.05,13.5524,28179.2,8.500,8.0988,9.2888,11.5600,15.7284,21.9164,16843.6,19318.8,24051.6,32714.8,45580.4,2003
1,2304,53-7062,"Laborers and freight, stock, and material move...",None,12650.0,7.45,15.4836,32198.0,5.712,9.5472,11.3356,13.7496,17.1768,26.3568,19862.8,23575.6,28600.8,35734.0,54821.6,2003
2,2305,53-7063,Machine feeders and offbearers,None,1530.0,29.75,17.0816,35530.0,6.392,10.9140,12.8452,14.9124,20.4204,24.2964,22691.6,26717.2,31008.0,42466.0,50530.8,2003
3,2306,53-7064,"Packers and packagers, hand",None,4810.0,10.15,12.0700,25105.6,2.720,8.2144,9.3840,11.3424,14.0624,17.8976,17074.8,19522.8,23602.8,29246.8,37223.2,2003
4,2307,53-7081,Refuse and recyclable material collectors,None,410.0,29.45,15.9732,33218.0,7.480,10.6012,12.5596,15.2252,18.6456,22.3924,22052.4,26118.8,31660.8,38794.0,46566.4,2003