## Which jobs grew in pay after adjusting for inflation.

In [1]:
import sqlite3
import os
import pandas as pd

In [2]:
occupation_file_name = os.path.join('Occupation_Data.csv')

In [3]:
occupation = pd.read_csv(occupation_file_name, index_col=None)

In [4]:
occupation.head()

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,00-0000,All Occupations,total,652100.0,1.3,21.99,45740.0,1.5,9.18,11.90,17.47,26.74,38.71,19100.0,24760.0,36350.0,55610.0,80510.0,2018
1,11-0000,Management Occupations,major,31180.0,2.6,49.67,103320.0,1.5,19.90,28.60,42.37,61.46,87.13,41400.0,59490.0,88120.0,127850.0,181230.0,2018
2,11-1011,Chief Executives,detailed,1210.0,6.1,73.53,152940.0,2.8,28.36,41.72,61.92,95.40,NaN,58980.0,86770.0,128800.0,198420.0,NaN,2018
3,11-1021,General and Operations Managers,detailed,10360.0,4.4,48.99,101900.0,2.1,17.27,24.89,38.13,61.21,96.22,35920.0,51770.0,79310.0,127320.0,200130.0,2018
4,11-2011,Advertising and Promotions Managers,detailed,60.0,16.8,53.04,110320.0,10.4,18.64,26.74,44.61,78.86,98.10,38770.0,55630.0,92780.0,164030.0,204050.0,2018

In economics the term real dollars is the value of currency after being adjusted for inflation. I will turn everything into 2018 dollars and to compute the difference I used an inflation calculator which can be found in the following website 
https://www.usinflationcalculator.com/

Adjusted for inflation, 1.00 in 2003 is equal to 1.36 in 2018, with a 36.5% cumulative rate of inflation.

Adjusted for inflation, 1.00 in 2008 is equal to 1.17 in 2018, with a 16.6% cumulative rate of inflation.

Adjusted for inflation, 1.00 in 2013 is equal to 1.08 in 2018, with a 7.8% cumulative rate of inflation.

The following sections will need to be adjusted based on their year. 
H_PCT10, H_PCT25, H_MEDIAN, H_CT75, H_PCT90, A_PCT10, A_PCT25, A_MEDIAN, A_PCT75, A_PCT90

In [5]:
year2018 = occupation['YEAR'] == 2018
year2013 = occupation['YEAR'] == 2013
year2008 = occupation['YEAR'] == 2008
year2003 = occupation['YEAR'] == 2003

In [6]:
occupation.columns[5:18]

for x in occupation.columns[5:18]:
    occupation.loc[(occupation.YEAR == 2013), x] *=1.08
    occupation.loc[(occupation.YEAR == 2008), x] *=1.17
    occupation.loc[(occupation.YEAR == 2003), x] *=1.36

In [7]:
dupes = occupation[occupation.duplicated(('OCC_CODE'), keep=False)]
dupes.sort_values('OCC_CODE')

,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,00-0000,All Occupations,total,652100.0,1.3,21.9900,45740.0,1.500,9.1800,11.9000,17.4700,26.7400,38.7100,19100.0,24760.0,36350.0,55610.0,80510.0,2018
1192,00-0000,All Occupations,NaN,617800.0,1.4,21.8907,45536.4,1.521,9.1260,12.1329,17.4681,26.6175,37.8261,18989.1,25236.9,36328.5,55352.7,78682.5,2008
580,00-0000,All Occupations,total,609210.0,1.1,21.8700,45489.6,1.404,9.2340,11.5452,17.2908,26.6976,38.6100,19202.4,24008.4,35974.8,55533.6,80319.6,2013
1797,00-0000,All Occupations,NaN,542460.0,0.9,22.2360,46253.6,1.496,9.7376,12.6208,17.8296,27.4584,38.3520,20236.8,26261.6,37100.8,57120.0,79777.6,2003
1193,11-0000,Management occupations,major,28690.0,2.1,50.5089,105054.3,1.638,23.4468,31.5081,44.0739,60.6294,88.9668,48765.6,65520.0,91681.2,126114.3,185047.2,2008
1,11-0000,Management Occupations,major,31180.0,2.6,49.6700,103320.0,1.500,19.9000,28.6000,42.3700,61.4600,87.1300,41400.0,59490.0,88120.0,127850.0,181230.0,2018
581,11-0000,Management Occupations,major,29000.0,2.3,48.7296,101347.2,1.188,21.5676,30.1320,42.4980,59.1948,84.3912,44863.2,62661.6,88387.2,123120.0,175532.4,2013
1798,11-0000,Management occupations,major,28090.0,2.3,48.7152,101333.6,1.088,21.0664,28.8864,41.9560,60.0168,85.6936,43819.2,60084.8,87284.8,124820.8,178255.2,2003
1194,11-1011,Chief executives,NaN,1710.0,5.7,90.7569,188779.5,3.744,41.9562,59.9508,87.6213,NaN,NaN,87270.3,124686.9,182250.9,NaN,NaN,2008
582,11-1011,Chief Executives,detailed,1130.0,5.0,92.5668,192542.4,2.376,44.4096,60.8904,88.3008,NaN,NaN,92372.4,126640.8,183664.8,NaN,NaN,2013
2,11-1011,Chief Executives,detailed,1210.0,6.1,73.5300,152940.0,2.800,28.3600,41.7200,61.9200,95.4000,NaN,58980.0,86770.0,128800.0,198420.0,NaN,2018
1799,11-1011,Chief executives,NaN,2070.0,4.8,88.6856,184470.4,2.992,38.8824,54.5632,83.5448,NaN,NaN,80879.2,113492.0,173767.2,NaN,NaN,2003
1800,11-1021,General and operations managers,NaN,8730.0,2.7,48.8376,101592.0,1.904,20.8488,28.7232,41.8744,59.7856,87.0264,43370.4,59744.8,87094.4,124344.8,181016.0,2003
1195,11-1021,General and operations managers,NaN,7620.0,4.4,53.0946,110448.0,2.574,24.8508,33.0876,46.0395,64.2798,NaN,51702.3,68807.7,95752.8,133707.6,NaN,2008
3,11-1021,General and Operations Managers,detailed,10360.0,4.4,48.9900,101900.0,2.100,17.2700,24.8900,38.1300,61.2100,96.2200,35920.0,51770.0,79310.0,127320.0,200130.0,2018
583,11-1021,General and Operations Managers,detailed,8270.0,3.2,50.0364,104079.6,2.376,19.2996,28.4040,41.6664,61.1820,94.2732,40143.6,59086.8,86670.0,127256.4,196095.6,2013
1801,11-1031,Legislators,NaN,90.0,28.3,21.2704,44254.4,13.056,8.2552,9.7376,22.2224,24.8200,30.1920,17176.8,20250.4,46226.4,51625.6,62804.8,2003
584,11-1031,Legislators,detailed,60.0,24.5,NaN,38199.6,7.020,NaN,NaN,NaN,NaN,NaN,17798.4,19494.0,33998.4,41666.4,85590.0,2013
1196,11-1031,Legislators,NaN,90.0,23.2,NaN,140563.8,16.731,NaN,NaN,NaN,NaN,NaN,16110.9,18450.9,99145.8,NaN,NaN,2008
1802,11-2011,Advertising and promotions managers,NaN,330.0,10.6,36.0944,75072.0,6.256,20.1688,23.8680,29.3624,42.0512,61.7984,41942.4,49640.0,61077.6,87461.6,128547.2,2003
585,11-2011,Advertising and Promotions Managers,detailed,130.0,12.4,38.2104,79488.0,9.504,17.6148,22.0428,34.3008,45.5652,62.6940,36633.6,45835.2,71344.8,94780.8,130388.4,2013
1197,11-2011,Advertising and promotions managers,NaN,150.0,12.5,40.9734,85234.5,7.020,17.3160,27.2610,39.7566,48.7422,67.1931,36012.6,56686.5,82695.6,101368.8,139756.5,2008
4,11-2011,Advertising and Promotions Managers,detailed,60.0,16.8,53.0400,110320.0,10.400,18.6400,26.7400,44.6100,78.8600,98.1000,38770.0,55630.0,92780.0,164030.0,204050.0,2018
586,11-2021,Marketing Managers,detailed,630.0,7.4,58.4712,121608.0,8.316,28.3716,36.1044,48.1356,72.2844,NaN,59011.2,75103.2,100116.0,150346.8,NaN,2013
1198,11-2021,Marketing managers,NaN,740.0,10.6,54.7326,113852.7,5.616,25.3773,33.6024,46.1097,71.2647,93.1203,52778.7,69895.8,95893.2,148239.0,193681.8,2008
1803,11-2021,Marketing managers,NaN,710.0,8.2,53.9920,112295.2,4.080,26.0440,34.5848,47.3960,67.6464,91.9904,54168.8,71944.0,98586.4,140719.2,191338.4,2003
5,11-2021,Marketing Managers,detailed,870.0,9.4,62.4700,129940.0,7.700,26.3600,36.6200,48.5500,76.1700,NaN,54840.0,76170.0,100990.0,158430.0,NaN,2018
1199,11-2022,Sales managers,NaN,1270.0,5.3,55.1889,114777.0,3.627,27.4950,36.4806,48.7656,67.0995,92.8629,57189.6,75886.2,101439.0,139581.0,193167.0,2008
1804,11-2022,Sales managers,NaN,1470.0,7.8,51.5576,107222.4,4.760,24.3440,33.4832,45.6144,63.8928,83.4088,50632.8,69659.2,94873.6,132899.2,173495.2,2003
6,11-2022,Sales Managers,detailed,1460.0,9.4,60.5100,125860.0,5.800,23.7200,35.8100,54.7700,74.9200,NaN,49350.0,74490.0,113920.0,155840.0,NaN,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1184,53-7051,Industrial Truck and Tractor Operators,detailed,7000.0,5.8,16.3944,34095.6,3.348,11.1888,13.0788,15.5628,19.1592,23.2416,23263.2,27205.2,32367.6,39852.0,48330.0,2013
1790,53-7061,Cleaners of vehicles and equipment,NaN,1640.0,15.2,14.0634,29250.0,4.914,8.5878,10.2492,12.5307,16.0758,22.0545,17854.2,21305.7,26067.6,33438.6,45864.0,2008
2292,53-7061,Cleaners of vehicles and equipment,NaN,1260.0,15.7,13.1784,27404.0,6.664,8.1192,9.3432,11.5736,15.3408,19.6656,16891.2,19434.4,24085.6,31905.6,40908.8,2003
575,53-7061,Cleaners of Vehicles and Equipment,detailed,1400.0,17.5,11.7900,24520.0,3.400,8.4900,9.5900,11.0700,13.1000,15.2900,17650.0,19940.0,23020.0,27250.0,31790.0,2018
2298,53-7061,Cleaners of vehicles and equipment,NaN,1320.0,12.4,13.9264,28954.4,10.336,8.0784,9.2344,11.5464,16.1160,24.1672,16796.0,19203.2,24017.6,33524.0,50252.0,2003
1185,53-7061,Cleaners of Vehicles and Equipment,detailed,1210.0,13.5,12.0204,25002.0,3.780,8.5536,9.3960,11.0052,13.3488,15.8652,17798.4,19537.2,22896.0,27766.8,32994.0,2013
2299,53-7062,"Laborers and freight, stock, and material move...",NaN,12600.0,9.3,15.6672,32572.0,5.304,9.5336,11.4512,14.0080,17.9520,26.1800,19842.4,23813.6,29131.2,37345.6,54454.4,2003
1186,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,18760.0,3.1,14.0724,29257.2,3.132,9.0504,10.4760,12.2256,16.0812,22.3668,18813.6,21783.6,25423.2,33447.6,46537.2,2013
2293,53-7062,"Laborers and freight, stock, and material move...",NaN,12700.0,5.6,15.3000,31824.0,6.120,9.5608,11.2200,13.4912,16.4016,26.5336,19883.2,23337.6,28070.4,34122.4,55188.8,2003
576,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,23680.0,6.9,14.9400,31070.0,1.800,10.3900,11.5700,13.6500,17.1800,22.1100,21610.0,24060.0,28390.0,35740.0,45980.0,2018
1791,53-7062,"Laborers and freight, stock, and material move...",NaN,14760.0,17.1,13.3497,27764.1,1.989,9.3015,10.3662,12.3318,15.3855,19.3752,19363.5,21563.1,25646.4,31987.8,40306.5,2008
1187,53-7063,Machine Feeders and Offbearers,detailed,850.0,30.0,14.1264,29386.8,3.348,8.8884,10.1520,12.6576,15.9192,23.0580,18489.6,21114.0,26341.2,33123.6,47962.8,2013
577,53-7063,Machine Feeders and Offbearers,detailed,910.0,32.0,14.6800,30530.0,5.500,10.0500,11.4100,13.5200,15.4900,24.7000,20900.0,23720.0,28130.0,32230.0,51370.0,2018
2300,53-7063,Machine feeders and offbearers,NaN,1410.0,29.9,17.0680,35509.6,6.936,10.7848,12.6888,14.8512,20.4272,24.2624,22426.4,26397.6,30885.6,42486.4,50456.0,2003
1792,53-7063,Machine feeders and offbearers,NaN,1440.0,16.6,14.1102,29343.6,2.808,9.2664,10.7055,13.1859,16.7544,20.8962,19269.9,22265.1,27424.8,34842.6,43453.8,2008
2294,53-7063,Machine feeders and offbearers,NaN,1650.0,29.6,17.0952,35550.4,5.848,11.0432,13.0016,14.9736,20.4136,24.3304,22956.8,27036.8,31130.4,42445.6,50605.6,2003
2301,53-7064,"Packers and packagers, hand",NaN,4650.0,9.0,12.1448,25255.2,3.128,8.2280,9.3432,11.3016,14.1984,18.2784,17095.2,19434.4,23514.4,29525.6,38025.6,2003
2295,53-7064,"Packers and packagers, hand",NaN,4970.0,11.3,11.9952,24956.0,2.312,8.2008,9.4248,11.3832,13.9264,17.5168,17054.4,19611.2,23691.2,28968.0,36420.8,2003
578,53-7064,"Packers and Packagers, Hand",detailed,NaN,NaN,12.3800,25740.0,5.600,8.4500,9.6700,11.5700,14.2600,17.9800,17570.0,20120.0,24060.0,29660.0,37400.0,2018
1188,53-7064,"Packers and Packagers, Hand",detailed,4650.0,6.8,11.3832,23684.4,3.672,8.5104,9.3312,10.7892,12.6576,15.6708,17701.2,19407.6,22431.6,26330.4,32583.6,2013
1793,53-7064,"Packers and packagers, hand",NaN,3970.0,12.3,11.3841,23680.8,2.808,7.6635,8.7048,10.8459,13.5720,16.0524,15935.4,18099.9,22569.3,28243.8,33391.8,2008
2296,53-7081,Refuse and recyclable material collectors,NaN,400.0,29.9,16.1976,33687.2,6.936,10.4992,12.8520,15.9120,18.8088,22.6032,21855.2,26724.0,33088.8,39127.2,47001.6,2003
1795,53-7081,Refuse and recyclable material collectors,NaN,280.0,17.1,14.7771,30747.6,4.446,10.1907,12.4488,14.9760,16.9533,19.0593,21212.1,25880.4,31145.4,35252.1,39639.6,2008
1189,53-7081,Refuse and Recyclable Material Collectors,detailed,460.0,12.6,15.8544,32972.4,2.592,11.0160,13.0140,16.3296,18.5760,19.9584,22928.4,27064.8,33966.0,38642.4,41515.2,2013
579,53-7081,Refuse and Recyclable Material Collectors,detailed,490.0,12.1,14.7800,30740.0,5.300,9.8300,11.4300,14.7400,18.0100,19.8300,20460.0,23780.0,30660.0,37470.0,41250.0,2018
2302,53-7081,Refuse and recyclable material collectors,NaN,420.0,29.0,15.7488,32748.8,8.024,10.7032,12.2672,14.5384,18.4824,22.1816,22249.6,25513.6,30232.8,38460.8,46131.2,2003
2297,53-7121,"Tank car, truck, and ship loaders",NaN,40.0,24.9,24.0040,49939.2,9.928,15.3952,18.6864,25.0512,29.1040,32.6400,32014.4,38882.4,52088.0,60520.0,67877.6,2003
1190,53-7121,"Tank Car, Truck, and Ship Loaders",detailed,50.0,24.7,14.7204,30618.0,5.400,10.8756,12.8736,14.5476,16.2216,18.7380,22626.0,26773.2,30261.6,33750.0,38966.4,2013
1796,53-7199,"Material moving workers, all other",NaN,NaN,NaN,21.8439,45419.4,7.488,15.3153,18.1467,21.4929,25.2369,29.7297,31859.1,37732.5,44717.4,52497.9,61822.8,2008
1191,53-7199,"Material Moving Workers, All Other",detailed,60.0,23.1,19.3968,40338.0,15.984,9.1476,11.0916,21.2868,24.8292,30.4128,19040.4,23068.8,44269.2,51645.6,63266.4,2013

In [8]:
occ_count=occupation.groupby('OCC_CODE')
occ_count_all = occ_count.size()
occ_count_4=occ_count.size() == 4
occ_count_3=occ_count.size() == 3
occ_count_2=occ_count.size() == 2
occ_count_1=occ_count.size() == 1

I am curious to see how occupations span across the years

In [9]:
print("Occupations that across all of the years")
print(occ_count_all.value_counts())

Occupations that across all of the years
4    384
2    139
3    128
1     80
5      5
dtype: int64

It is odd that there is a 5 in the options I need to figure out which year has duplicates by year.

In [10]:
dupe_year=occupation.groupby(['OCC_CODE', 'YEAR']).size() > 1
print(dupe_year.value_counts())
dupe_year_list=dupe_year[dupe_year == True]
dupe_year_list

False    2293
True        5
dtype: int64

OCC_CODE  YEAR
53-7061   2003    True
53-7062   2003    True
53-7063   2003    True
53-7064   2003    True
53-7081   2003    True
dtype: bool

2003 Seems to have produced all of the duplicates and here is the list of duplicate job codes 

I am going to have to remove the duplicate data from the dataset

In [11]:
occupation.to_sql("occ_table",sqlite3.connect('occ.db'), if_exists ="replace")

In [12]:
con = sqlite3.connect("occ.db")

In [13]:
occupation = pd.read_sql_query("SELECT * FROM occ_table WHERE YEAR=2003 AND OCC_CODE IN ('53-7061', '53-7062', '53-7063', '53-7064', '53-7081') ORDER BY OCC_CODE ASC", con)
occupation

,index,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,YEAR
0,2292,53-7061,Cleaners of vehicles and equipment,None,1260.0,15.7,13.1784,27404.0,6.664,8.1192,9.3432,11.5736,15.3408,19.6656,16891.2,19434.4,24085.6,31905.6,40908.8,2003
1,2298,53-7061,Cleaners of vehicles and equipment,None,1320.0,12.4,13.9264,28954.4,10.336,8.0784,9.2344,11.5464,16.1160,24.1672,16796.0,19203.2,24017.6,33524.0,50252.0,2003
2,2293,53-7062,"Laborers and freight, stock, and material move...",None,12700.0,5.6,15.3000,31824.0,6.120,9.5608,11.2200,13.4912,16.4016,26.5336,19883.2,23337.6,28070.4,34122.4,55188.8,2003
3,2299,53-7062,"Laborers and freight, stock, and material move...",None,12600.0,9.3,15.6672,32572.0,5.304,9.5336,11.4512,14.0080,17.9520,26.1800,19842.4,23813.6,29131.2,37345.6,54454.4,2003
4,2294,53-7063,Machine feeders and offbearers,None,1650.0,29.6,17.0952,35550.4,5.848,11.0432,13.0016,14.9736,20.4136,24.3304,22956.8,27036.8,31130.4,42445.6,50605.6,2003
5,2300,53-7063,Machine feeders and offbearers,None,1410.0,29.9,17.0680,35509.6,6.936,10.7848,12.6888,14.8512,20.4272,24.2624,22426.4,26397.6,30885.6,42486.4,50456.0,2003
6,2295,53-7064,"Packers and packagers, hand",None,4970.0,11.3,11.9952,24956.0,2.312,8.2008,9.4248,11.3832,13.9264,17.5168,17054.4,19611.2,23691.2,28968.0,36420.8,2003
7,2301,53-7064,"Packers and packagers, hand",None,4650.0,9.0,12.1448,25255.2,3.128,8.2280,9.3432,11.3016,14.1984,18.2784,17095.2,19434.4,23514.4,29525.6,38025.6,2003
8,2296,53-7081,Refuse and recyclable material collectors,None,400.0,29.9,16.1976,33687.2,6.936,10.4992,12.8520,15.9120,18.8088,22.6032,21855.2,26724.0,33088.8,39127.2,47001.6,2003
9,2302,53-7081,Refuse and recyclable material collectors,None,420.0,29.0,15.7488,32748.8,8.024,10.7032,12.2672,14.5384,18.4824,22.1816,22249.6,25513.6,30232.8,38460.8,46131.2,2003

There are 736 unique occupations on this list of those occupations 384 occupations existed all four observed years, 128 existed for three observed years, 139 exitsed for two observed years, and 80 existed for only one observed year.